@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root{
    --first-hue: 260;
    --second-hue: 216;

    --first-color: #874FF6;
    --first-color-dark: #281352;
    --title-color: #D5D8DB;
    --text-color: #BABEC4;
    --body-color: #161C27;
    --container-color: #1B2430;
    --white-color: #FFFFFF;

    --first-gradient: linear-gradient(
        150deg,
        var(--first-color) 0%,
        var(--white-color) 100%
    );

    --second-gradient: linear-gradient(
        260deg,
        var(--first-color-dark) 0%,
        var(--first-color) 100%
    );

    --body-font: "Space Grotesk", sans-serif;

    --big-font-size: 8rem;
    --h1-font-size: 3.75rem;
    --h2-font-size: 3rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.25rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;

    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

     * {
        margin: 0;
        padding: 0%;
        box-sizing: border-box;
     }

     body,
     button,
     input,
     textarea 
     {
        font-family: var(--body-font) ;
        font-size: var(--normal-font-size) ;
     }
    body 
    {
        background-color: var(--body-color);
        color: var(--text-color);
    }
    h1,
    h2,
    h3 {
         color: var(--title-color);
         font-weight: var(--font-bold);
         line-height: 1.2;
       }
    p {
        line-height: 1.75;
      }
    ul {
        list-style: none;
       }
    a {
        text-decoration: none;
      }
    button,
    input,
    textarea
    {
        border:none ;
        outline:none ;
        background-color: transparent;
    }
    img
    {
        display: block;
        max-width: 100%;
    }

.section {
    padding: 6rem 4rem;
}
.button{
    display: inline-flex;
    background: var(--second-gradient);
    color: var(--white-color);
    padding: 1.25rem 2rem;
    border-radius: 0.5rem;
    font-weight: var(--font-semi-bold);
    transition: background 0.3s;
}
.button:hover {
    background: linear-gradient(
        260deg,
        var(--first-color) 0%,
        var(--first-color-dark) 100%
     ); 
}
 .section-title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 4.25rem;
 }

.container
 {
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.grid {
    display: grid;
}
.header {
   background-color: transparent;
   position: fixed;
   inset: 0 0 auto;
   z-index: 1000;
}

.nav ,
.nav-list,
.nav-btns
 {
    display: flex;
}
.nav {
   
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
    height: 4.5rem;
}
.nav-logo,
.nav-link,
.change-theme {
    color: var(--title-color);
}
.nav-logo {
    font-size: var(--h3-font-size) ;
    font-weight: var(--font-bold);
}
.nav-menu {
    margin-left: auto;
}
.nav-list{
    column-gap: 2.75rem;
}
.nav-link{
    font-weight: var(--font-medium);
    transition:color 0.3s ;
}
.nav-link:hover{
    color: var(--first-color);
}
.change-theme{
    font-size: 1.25rem;
}
.nav-btns{
    align-items: center;
    column-gap: 1rem;
}
.nav-close,
.nav-toggle {
    display: none;
}
.home-container {
    grid-template-columns: 1fr repeat(2, max-content);
    align-items: center;
    column-gap: 3rem;
    padding-top: 6rem;
}
.home-title{
    font-size: var(--h1-font-size);
    line-height: 1;
    margin-bottom: 2rem;
}
.home-job {
    font-size:var(--h2-font-size) ;
    font-weight: var(--font-semi-bold);
}
.home-description{
    font-size: var(--larger-font-size);
    margin-block: 1.5rem 2rem;
}
.home-img-wrapper{
    width: 38rem;
    background: var(--second-gradient);
    border-radius: 51% 49% 77% 23% / 65% 50% 50% 35% ;
    overflow: hidden;
}
.home-social {
    row-gap: 1rem;
}
.home-social-link {
    color: var(--title-color);
    font-size: var(--larger-font-size);
    transition: color 0.3s;
}

.home-social-link:hover {
    color: var(--first-color);
}

.about-container {
    grid-template-columns: 3fr 6fr 2fr;
    align-items: center;
    column-gap: 4rem;
}
.about-experience{
      width: 280px;
      height: 420px;
      background: var(--second-gradient);
      border-radius: 1rem;
      display: grid;
      place-content: center;
}
.about-no,
.about-title{
    color: var(--white-color);
}
.about-no{
    font-size: 7.5rem;
    font-weight: var(--font-bold);
    line-height: 1;
    margin-bottom: 0.25rem;
}
.about-title{
    font-size: var(--large-font-size);
    text-align: center;
}
.about-description {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
}
.text-gradient {
    -webkit-text-fill-color: hsla(var(--second-hue) ,8%, 85% 0.2%);
    background: var(--first-gradient);
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
}
.about-data {
    row-gap: 2rem;
}
.about-item-no {
    font-size: var(--h2-font-size);
    margin-bottom: 0.125rem;
}
.services-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75rem;
}
.services-card {
    background: var(--container-color);
    padding: 2rem;
    border-radius: 1rem;
    transition: background 0.3s;
}

.services-card:hover {
    background: var(--second-gradient);
}

.services-no {
    color: var(--title-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}
.services-title {
    font-size: var(--h3-font-size);
    margin-block: 1.25rem 0.75rem;
}
.services-description{
    font-size: var(--large-font-size);
}
.services-card:hover :is(.services-no, .services-title,.services-description){
    color: var(--white-color);
}
.skills-container {
    grid-template-columns: repeat(2,max-content);
    justify-content: center;
    gap: 10rem;
}
.skills-title {
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 3rem;
}
.skills-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

}
.skills-data {
    text-align: center;
}
.skills-blob {
    width: 90px;
    height: 110px;
    background-color: var(--container-color);
    border-radius: 3rem;
    display: grid;
    place-items: center;
    margin-inline: auto;
}
.skills-img {
    width: 40px;
}
.skills-name {
    font-size: var(--large-font-size);
    margin-block: 1rem 0.25rem;
}
.skills-level {
    font-size: var(--small-font-size);
}

.resume-container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    row-gap: 3rem;
}

.resume-item {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}
.resume-right {
    order: 2;
}
.resume-left {
    text-align: right;
}
.resume-icon {
    color: var(--title-color);
    font-size: 2.75rem;
}
.resume-title {
    font-size: var(--larger-font-size);
    margin-block: 0.75rem;
}
.resume-duration {
    font-size: var(--small-font-size);
}
