
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500;1,600;&display=swap');


 :root {
  --first-color: #4DA6FF;
  --first-color-alt: #3399FF;

  --title-color: #21262B;
  --text-color: #636E78;
  --text-color-light: #BFC7CE;
  --text-color-lighten: #E9EDF1;

  --body-color: #FAFCFF;
  --container-color: #FFFFFF;

  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}




@media screen and ( min-width: 968px) {
    :root {
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size:0.875rem ;
        --smaller-font-size:0.813rem ;
    }
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,h3{
    color: var(--title-color);
    font-weight: 600;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.profile {
   position: relative;
   padding-top: 3.5rem;
}
.profile-container {
    row-gap: 2rem;
}
 .profile-data {
     display: grid;
     text-align: center;
}
.profile-perfil {
      width: 100px;
      height: 100px;
      background: linear-gradient(180deg,
      hsla(var(--hue), var(--sat), var(--lig), 1) 0%
      hsla(var(--hue), var(--sat), var(--lig), 0.2) 100%);
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
.profile-perfil img {
  width: 75px;
}
.profile-border {
    border: 3.5px solid var(--first-color);
    justify-self: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 0.75rem;
}
.profile-name {
    font-size: var(--h2-font-size);
    justify-content: center;
    display: flex;
    }
.profile-profession{
    font-size: var(--smaller-font-size);
    font-weight: 500;
    justify-content: center;
    display: flex;
    color: var(--text-color);
    margin-bottom: 1rem;
   
}
.profile-social {
    display: flex;
    justify-content: center;
    column-gap: 0.75rem;
}
.profile-social-link{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: 0.3s;
}
.profile-social-link:hover{
    color: var(--first-color);
}
.profile-info{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 2.5rem;
}
.profile-info-group{
    text-align: center;
    margin-top: 3rem;
}
.profile-info-number{
    font-size: var(--normal-font-size);
    margin-bottom: .25rem;
}
.profile-info-description {
    font-size: var(--smaller-font-size);
    font-weight: 500;
}
.profile-buttons,
.profile-buttons-small{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-buttons{
    column-gap: 1rem;
}
.profile-buttons-small{
    column-gap: .25rem;
    margin-bottom: 2rem;
}
.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    color: #000;
    padding: 1.15rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 25);

}
.button i{
    font-size: 1.25rem;
}
.button:hover{
    background-color: var(--first-color-alt);
}
.button-small{
    padding: .75rem;
    box-shadow: none;
}
.button-gray{
    background-color: var(--text-color-lighten);
    color: var(--title-color);
}
.button-gray:hover{
    background-color: var(--text-color-light);
}
.filters-content{
    margin: 2rem 0.25rem;
    background-color:var(--text-color-lighten) ;
    padding: .375rem;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    column-gap: .5rem;
}
.filters-button{
 width: 100%;
 border: none;
 outline: none;
 padding: 1rem;
 color: var(--title-color);
 font-size: var(--small-font-size);
 font-family: var(--body-font);
 font-weight: 500;
 border-radius: .75rem;
 cursor: pointer;
 background-color: transparent;
 transition: .3s;
}
.filters-button:hover{
    background-color: var(--body-color);
}
.projects-card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}
.projects-card img{
    width: 100%;
    height: 100%;
}
.projects-modal{
    position:absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: ;
    display: grid;
    align-items: flex-end;
    padding: 1.5rem 1.25rem;
    transition: .3s;
}